// United 3.3.4
// Bootswatch
// -----------------------------------------------------

@import url(http://fonts.googleapis.com/css?family=Droid+Sans|Cabin:500,700,500italic,600italic);
@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
// Navbar =====================================================================

.navbar {

  &-default {

    .badge {
      background-color: #fff;
      color: $navbar-default-bg;
    }
  }

  &-inverse {

    .badge {
      background-color: #fff;
      color: $navbar-inverse-bg;
    }
  }
}

@media (max-width: $grid-float-breakpoint-max) {

  .navbar {

    .dropdown-menu {
      a {
        color: #fff;
      }
    }
  }
}


// Buttons ====================================================================

// Typography =================================================================

// Tables =====================================================================

// Forms ======================================================================

// Navs =======================================================================

// Indicators =================================================================

// Progress bars ==============================================================

// Containers =================================================================