// United 3.3.4
// Bootswatch
// -----------------------------------------------------

@import url(http://fonts.googleapis.com/css?family=Nunito|Droid+Sans|Spectral|Montserrat|Roboto|Roboto+Mono);
@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
// Navbar =====================================================================

.navbar {

  &-default {

    .badge {
      background-color: #fff;
      color: $navbar-default-bg;
    }
  }

  &-inverse {

    .badge {
      background-color: #fff;
      color: $navbar-inverse-bg;
    }
  }
}

@media (max-width: $grid-float-breakpoint-max) {

  .navbar {

    .dropdown-menu {
      a {
        color: #fff;
      }
    }
  }
}

.fixed {
  min-height: 400px;
  max-height: 400px;
  overflow-y: hidden;
}

.responsive-wrap { max-width: 100%;}

// Buttons ====================================================================

// Typography =================================================================

// Tables =====================================================================

// Forms ======================================================================

// Navs =======================================================================

// Indicators =================================================================

// Progress bars ==============================================================

// Containers =================================================================