<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include header.html %}
    {% if page.carousel %}
        {% include carousel.html %}
    {% endif %}


    <!-- Page Content -->
    <div class="container">

      {{ content }}
        <!-- Footer -->
        
      {% include footer.html %}
    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>
      
    <!-- Open external links in new tab -->
    <script>
      $('a[href^=http]').click(function () {
      var a = new RegExp('/' + window.location.host + '/');
      if (!a.test(this.href)) {
        window.open(this.href);
        return false;
       }
      });
    </script>
    
    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>
  </body>
</html>
