---
layout: default
comments: false
---

{% if page.breadcrumbs != false %}
{% include breadcrumb.html %}
{% endif %}

<div class="row">
	<div class="col-lg-12">
	{% assign aCategories = page.url | remove_first: '/' | split: '/' %}
	{% assign iSize = aCategories.size | minus: 1 %}
	{% assign cat_last = aCategories[iSize] %}
		<h1 class="page-header">
			{{ cat_last | strip | capitalize }}
		</h1>
	</div>
</div>
<!-- /.row -->
<div class="row">
	<div class="col-lg-12">
		{% for post in site.categories[cat_last] %}
		{% if post.categories.first == aCategories[0] %}
		<h3>
			<a href="{{ post.url }}">{{ post.title }}</a>
		</h3>
		{% if post.author %}
		<p class="lead">by {{ post.author }}</p>
		{% endif %}
		{% if post.date %}
		<p><i class="fas fa-clock-o"></i> Posted {{ post.date | date: "%-d %b %Y at %R %Z" }}</p>
		{% endif %}
		<p>{{ post.content | strip_html | truncatewords: 50 }}</p>
		<a class="btn btn-link" href="{{ post.url }}">Read more...</a>
		{% endif %}
		{% endfor %}
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->